@font-face {
  font-family: "P FDin Text Pro";
  src: url("../../fonts/pfdintextcondpro-light.woff2") format("woff2"), url("../../fonts/pfdintextcondpro-light.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body,
html {
  margin: 0 auto;
  font-family: "P FDin Text Pro", sans-serif;
  font-size: 18px;
  color: #171717; }

img {
  max-width: 100%;
  display: block; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  width: 1200px;
  margin: 0 auto; }

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.65);
  top: 115px; }

.header {
  height: 100vh;
  background-image: url("../img/bg-1.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }

.header__title {
  margin: 0;
  font-size: 48px;
  color: #171717;
  text-align: center;
  margin-bottom: 85px; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__item {
  width: 365px;
  height: 365px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: relative; }
  .header__item::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    border: 1px solid #009e82;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -165px;
    opacity: 0;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s; }
  .header__item:hover::before {
    opacity: 1; }
  .header__item a {
    font-size: 28px;
    color: #242424;
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 125px; }

.header__item-link::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 90px;
  left: 50%;
  margin-left: -50px;
  background-repeat: no-repeat;
  background-position: 50% 49%; }

.header__item-link--trade::before {
  background-image: url("../img/icon-1.svg"); }

.header__item-link--invest::before {
  background-image: url("../img/icon-2.svg"); }

.header__item-link--attract::before {
  background-image: url("../img/icon-3.svg"); }

.tabs {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  position: relative; }

.tabs > input {
  display: none; }

.tabs > div {
  display: none;
  padding: 12px; }

.tabs > label {
  display: inline-block;
  margin: 0 -5px -1px 0;
  text-align: center;
  color: #171717;
  cursor: pointer; }

.tabs > input:checked + label {
  color: #009e82;
  border-bottom: 3px solid #009e82; }

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4 {
  display: block; }

.main__tab {
  font-size: 28px;
  padding: 40px;
  display: block;
  width: 33%; }

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat; }

.main__content {
  line-height: 24px;
  color: #1c1c1c; }
  .main__content p {
    width: 700px;
    margin-top: 70px; }
  .main__content h2 {
    font-size: 24px;
    color: #171717; }
