.tabs { 
    width: 100%; 
    padding: 0px; 
    margin: 0 auto; 
    position: relative;
}

.tabs>input { 
    display:none; 
}

.tabs>div {
    display: none;
    padding: 12px;


}
.tabs>label {
    display: inline-block;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: $text;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #009e82;
    border-bottom: 3px solid #009e82;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4 { display: block; }


.main__tab {
    font-size: 28px;
    padding: 40px;
    display: block;
    width: 33%;
}

.main {
    display: none;

    @media (min-width: $desktop) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/bg-2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.main__content {

    line-height: 24px;
    color: #1c1c1c;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    padding-bottom: 270px;
    background-image: url('../img/bg-2.png');
    background-size: 200%;
    background-position: bottom center;
    background-repeat: no-repeat;
    transition: all ease 0.5s;



    p {
        width: 100%;
        margin-top: 20px;
    }

    @media (min-width: $desktop) { 
        p {
            width: 700px;
            margin-top: 70px;
        }
    
        h2 {
            font-size: 24px;
            color: $text;
            margin-bottom: 30px;
        }
    }

    &--close {
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}

.main__list-item {
    margin-bottom: 10px;
    width: 100%;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        counter-increment: counter;
        content: counter(counter);
        position:absolute;
        top:-2px;
        left: -30px;
        padding:4px 0;
        color: #009e82;
        font-size: 32px;
        font-weight:bold;
    }

    @media (min-width: $desktop) { 
        width: 600px;
    }
}

.main__list {
    padding-left: 30px;
    list-style: none;
    counter-reset: counter;
}

.main__link {
    display: block;
    text-align: center;
    margin-top: 20px;
    width: 156px;
    height: 45px;
    border-radius: 3px;
    background-color: #009e82;
    color: #fff;
    padding: 13px 26px;
}

.hidden {
    opacity: 0;
    z-index: -1;
    
}